* {
	margin: 0;
	padding: 0;
}

html, body {
	margin-top: 10px;
	height: 100%;
	font-family: 'Josefin Sans', sans-serif;
	font-family: 'Roboto Slab', serif;
	background-image: url(images/background.jpg);
}

body {
	background-color: #312E30;
}

.div-menu {
	height: 111px;
	width: 184px;
	float: right;
	text-align: center;
	position: absolute;
}

.logo {
	height: 111px;
	width: 184px;
	float: right;
	text-align: center;
	position: absolute;
}

.div-menu h3 {
	padding-top: 40px;
}

.div-menu:hover {
	background-color: #FFCF40;
	transition: 0.2s;
	cursor: pointer;
}

.img-head {
	position: relative;
	float: left;
}

.wrapper-head {
	height: 161px;
	width: 100%;
	margin: 0 auto;
}

.caption{
	padding-top: 20px;
	padding-bottom: 20px;
}

a {
	text-decoration: none;
	color: #000;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	text-decoration: none;
	list-style: none;
	display: inline-block;
	float: left;
	padding-right: 30px;
	padding-top: 20px;
}

ul h2, p {
	margin-left: 15px; 
	margin-right: 15px;
	margin-bottom: 5px;
}

.block {
	width: 350px;
	margin: 0 auto;
	height: 600px;
	display: inline-block;
	position: relative;
	margin-bottom: 75px;
	/*transform: rotateX(35deg);*/
	transition: 1s;
	transform-style: preserve-3d;
}

.block:hover .front{
	cursor: pointer;
	transform: translateZ(20px);
}

.block_normal {
	transform: rotateX(0deg);
}
/*.block:active .front{
	cursor: pointer;
	transform: rotateY(180deg);
}*/

/*.block:active .back{
	cursor: pointer;
	transform: rotateY(360deg);
}*/

.front, .back {
	border-radius: 10px;
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	transition: 0.2s;
	backface-visibility: hidden;
	box-shadow: 0 0 15px;
}

.front {
	background-color: #292728;
}

.back {
	background-color: #292728;
	transform: rotateY(180deg);
}

.block img {
	border-radius: 10px;
	margin: 10px;
	box-shadow: 0 0 5px;
}

.wrapper {
	margin: 0 auto;
	width: 1200px;
  	flex-direction: column;
  	height: 100%;
}

.content {
  	flex: 1 0 auto;
  	perspective: 1500px;
}

.footer {
	height: 50px;
	width: 1200px;
  	flex: 0 0 auto;
  	margin: 0 auto;
  	padding: 0 auto;
}